* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug section */

.debug #app_header {
    background-color: lightblue;
    width: 100%;
    height: 80px;
    flex-direction: row;
}

.debug .logo {
    height: 40px;
    width: 40px;
}

.debug #sub_main {
    background-color: rgb(0, 0, 108);
    width: 100%;
    height: 500px;
}

.debug .main_img {
    height: 22rem;
    width: 45rem;
}

.debug #part_1 {
    width: 100%;
    height: 41rem;
}

.debug .col_1 {
    height: 22rem;
    width: 30rem;
}

.debug .col_2 {
    height: 22rem;
    width: 26rem;
}

.debug #part_2 {
    width: 100%;
    height: 30rem;
    padding-top: 1rem;
}

.debug #part_3 {
    width: 100%;
    height: 35rem;
    padding-top: 1rem;
}

.debug .last_img {
    height: 30rem;
    width: 56rem;
}

.debug .col_3 {
    height: 17rem;
    width: 16rem;
}

.debug .col_4 {
    height: 17rem;
    width: 10rem;
}

.debug #part_4 {
    background-color: rgb(31, 28, 28);
    width: 100%;
    height: 27rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.debug #app_footer {
    background-color: rgb(31, 28, 28);
    width: 100%;
    flex-direction: row;
}

.debug .sub_footer {
    background-color: aqua;
    width: 56rem;
    height: 5rem;
}

.debug .logo_footer {
    background-color: pink;
    width: 5rem;
    height: 2rem;
}

.debug .button_f {
    background-color: pink;
    width: 5rem;
    height: 2rem;
}

/* css section */

.container {
    display: flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
}

main {
    height: 200rem;
}
#app_header {
    padding: 1rem 10rem 1rem 10rem;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 29rem ;
}

.login {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 29rem;
}

a {
    text-decoration: none;
}

#sub_main {
    padding: 5rem 5rem 5rem 22rem;
}


.main_img {
    display: flex;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

#part_1 {
    display: flex;
    padding-top: 5rem;
    padding-left: 17rem;
    margin-bottom: -7rem;
    background-color: white;
}

.col_1 {
    display: flex;
    background-color: rgb(0, 114, 118);
    justify-content: center;
    align-items: center;   
}

.col_2 {
    display: flex;
    background-color: rgb(102, 0, 118);
    justify-content: center;
    align-items: center;
}

#part_2 {
    display: flex;
    padding-top: 7rem;
    padding-left: 17rem;
}

#part_3 {
    display: flex;
    padding-top: 4rem;
    padding-left: 17rem;
}

.gray {
    background-color: gray;
    padding-top: 7rem;
}

.last_img {
    display: flex;
    background-color: forestgreen;
    justify-content: center;
    align-items: center;
}

.col_3 {
    display: flex;
    background-color: rgb(255, 93, 241);
    justify-content: center;
    align-items: center;
}

.col_4 {
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

#part_4 {
    display: flex;
    padding-top: 4rem;
    padding-left: 17rem;
}

#end_footer {
    display: flex;
}

hr {
    display: flex;
    color: white;
}

#app_footer {
    padding: 2rem 5rem 5rem 17rem;
}

.sub_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_f {
    display: flex;
    justify-content: center;
    align-items: center;
}